<!DOCTYPE html>
<html lang="en">
    <head>
        <title>404</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Page not found">
        <meta name="og:description" content="Page not found">
        <meta name="author" content="ButterDogCo">
        <link rel="stylesheet" href="./css/error.css">
    </head>
    <body>
        <img src="./img/Logo-wide.png" alt="ButterDog Chat Logo" class="logo">
        <h1>404</h1>
        <p>Page not found</p>
    </body>
</html>