<!DOCTYPE html>
<html lang="en">

<head>
    <title>Chat</title>
    <link rel="stylesheet" href="./css/chat.css">
    <link rel="shortcut icon" href="./favicon.ico">
</head>

<body>
    <main class="container" id="main-container">
        <section class="sidebar-container">
            <button id="new-conversation-button">Search Users</button>
            <ul class="conversations" id="conversation-list"></ul>
            <div class="account">
                <button onclick="logout()">Logout</button>
            </div>
        </section>
        <section class="content-container">
            <h2 id="conversation-title">No active conversation</h2>
            <div class="messages" id="message-container"></div>
        </section>
        <section class="input-container">
            <form class="form" id="input-form">
                <input
                    type="text" 
                    placeholder="Enter message" 
                    class="message-input text-input" 
                    id="message-input"
                    autocomplete="off"
                >
                <button type="submit" id="send-button">Send</button>
            </form>
        </section>
    </main>

    <div class="modal" id="new-conversation-modal">
        <div class="modal-content">
            <div class="modal-header">
                <h3>New Conversation</h3>
                <button class="close-button" id="close-conversation-modal-button">&times;</button>
            </div>

            <div class="modal-body">
                <input 
                    class="text-input"
                    type="text"
                    id="user-search-input"
                    placeholder="Search for a user"
                    autocomplete="off"
                >

                <div id="user-search-results" class="search-results"></div>
            </div>
        </div>
    </div>

    <script>
        const currentUser = {
            id: '<%= user.id %>',
            username: '<%= user.username %>'
        }
    </script>

    <script src="/socket.io/socket.io.js"></script>
    <script src="js/chat.js"></script>
    <script src="js/auth.js"></script>
</body>

</html>