<!DOCTYPE html>
<html>

<head>
  <title>ButterDog Chat Ultra Deluxe Premium Platinum Edition Pro Max Plus</title>
  <link rel="shortcut icon" href="img/butterdog chat.png">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,1,0">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,1,200">
  <link rel="stylesheet" href="css/chat.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
</head>

<body>
  <div id="notifications">

  </div>
  <div id="chatOverlay" style="display: none;"></div>
  <div id="sidebar">
    <button id="mainChatButton">Main Chat</button>
    <h2 id="onlineCount">Online</h2>
    <div id="activeUsers">

    </div>
    <button id="profileDialogButton">Edit Profile</button>
  </div>

  <ul id="messages">

  </ul>

  <div id="uploadDialog" style="display:none;">
    <h2>Upload Image</h2>
    <input id="imageUploadInput" type="file" accept=".png,.jpeg,.jpg,.webp,.tiff,.gif">
    <br>
    <img id="imagePreview" title="Preview">
    <button id="submitImageButton">Send</button>
  </div>

  <div id="profileDialog" class="hidden">
    <button id="profileCloseButton" style="display: none;">X</button>
    <h2 id="profileHeaderLabel">Your Profile</h2>
    <p>Avatar</p>
    <img id="profileAvatarImg" src="userUploads/avatars/default.png">
    <br>
    <input id="profileAvatarInput" type="file" accept=".png,.jpeg,.jpg,.webp,.tiff,.gif">

    <p id="profileUsernameLabel">Username</p>
    <input id="profileUsernameInput" type="text" maxlength="24" placeholder="Enter a username">
    <button id="profileSaveButton">Save</button>
  </div>

  <div id="enlargedImage" style="display: none;">
    <img src="" title="Click anywhere outside the image to close">
  </div>

  <form id="form" action="">
    <p id="imageUploadButton">
      <span class="material-symbols-rounded">upload_file</span>
    </p>
    <input id="input" autocomplete="off" maxlength="1000" placeholder="Type a message">
    <button id="messageSend">Send</button>
  </form>
  <script src="/socket.io/socket.io.js"></script>
  <script defer src="js/chat.js"></script>
  <script defer src="js/ui.js"></script>
  <script defer src="js/profile.js"></script>
</body>

</html>