<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ButterDog Chat Ultra Deluxe Premium Plus Max Pro</title>
  <link rel="stylesheet" href="css/chat.css">
</head>

<body>
  <nav>
    <h1>ButterDog Chat Ultra Deluxe Premium Plus Max Pro</h1>
    <div id="user-info">
      <span id="username">
        <%= username %>
      </span>
      <button id="logout-button" onclick="userLogout()">Logout</button>
    </div>
  </nav>
  <main>
    <div id="chat-container" class="chat-container">
      <div id="messages-container" class="messages-container"></div>
    </div>
    <form id="message-form" class="message-form">
      <input type="text" id="message-input" placeholder="Type your message..." autocomplete="off" required />
      <button type="submit">Send</button>
    </form>
  </main>

  <script src="https://cdn.jsdelivr.net/npm/eruda"></script>
  <script>
    eruda.init();
  </script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="js/chat.js" defer></script>
</body>

</html>