<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ButterDog Chat</title>
  
  <!-- Preloading -->
  <link rel="preload" href="img/Logo-icon.png" as="image">
  <link rel="preload" href="img/Logo-wide.png" as="image">
  <link rel="preload" href="css/themes/Abyss.css" as="style"> <!-- Default theme -->
  <link rel="preload" href="css/chat.css" as="style">
  
  <link rel="icon" type="image/png" href="img/Logo-icon.png">
  <link rel="stylesheet" href="css/chat.css">
</head>

<body>
  <nav>
    <img src="img/Logo-wide.png" alt="ButterDog Chat Logo" class="logo">
    <div class="channels">
      <h2>Channels & Users</h2>
      <button class="channel-button active" data-room="global" onclick="switchRoom('global')">Global</button>
      <!-- Other users, and group chats will be shown here -->
    </div>
    <div id="user-info" class="user-info">
      <span id="username">
        <%= username %>
      </span>
      <button id="logout-button" onclick="userLogout()">Logout</button>
    </div>
  </nav>
  <main>
    <div id="chat-container" class="chat-container">
      <div id="messages-container" class="messages-container"></div>
    </div>
    <form id="message-form" class="message-form">
      <input type="text" id="message-input" placeholder="Type your message..." autocomplete="off" required />
      <button type="submit">Send</button>
    </form>
  </main>

  <!-- <script src="https://cdn.jsdelivr.net/npm/eruda"></script>
  <script>
    eruda.init();
  </script> -->
  
  <!-- EJS Variables -->
  <script>
    const username = "<%= username %>";
    const userUUID = "<%= uuid %>";
  </script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="js/chat.js"></script>
</body>

</html>