@import url('global.css');

main {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    .container {
        display: flex;
        flex-direction: column;
        gap: 6px;
        align-self: center;
        width: 500px;
        background-color: var(--background-tertiary-color);
        border-radius: 12px;
        border: var(--border-seperator);
        padding: var(--container-inner-padding);

        .header {
            display: flex;
            flex-direction: column;

            h1,
            p {
                margin: 0;
            }

            a {
                color: var(--blue-color);
            }
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 6px;

            .error {
                color: var(--red-color);
            }
        }
    }
}