@import url('global.css');

main {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    flex-direction: column;
    gap: var(--item-gap-large);

    .logo {
        width: 300px;
        height: 75px; /* Hardcoded to prevent content layout shift */
        max-width: 80vw;
        align-self: center;
        object-fit: contain;
    }

    .container {
        display: flex;
        flex-direction: column;
        gap: 6px;
        align-self: center;
        width: 500px;
        background-color: var(--background-color-secondary);
        border-radius: 12px;
        border: var(--border-seperator);
        padding: var(--container-inner-padding);

        .header {
            display: flex;
            flex-direction: column;

            h1,
            p {
                margin: 0;
            }

            a {
                color: var(--text-color-link);
            }
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 6px;

            .error {
                color: var(--color-red);
            }
        }
    }
}