@import url(global.css);

:root {
  --message-form-height: 40px;
}

body {
  display: flex;
  flex-direction: row;
}

main {
  display: inline-flex;
  flex-direction: row;
  flex-grow: 1;
  flex-wrap: nowrap;
  width: calc(var(--max-width) - var(--nav-width));
}

.chat-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  .messages-container {
    height: calc(100vh - var(--message-form-height) - (var(--page-padding) * 3));
    overflow-y: auto;

    .message {
      background: var(--message-background, transparent);
      transition: background 0.15s;
      padding: var(--message-padding, 4px 12px 4px 12px);
      border-radius: var(--message-border-radius, 12px);

      p, span {
        margin: var(--message-text-margin, 4px);
        padding: 0;
        word-break: break-word;
        line-break: anywhere;
        white-space: pre-wrap;
      }

      .meta {
        color: var(--text-primary, white);

        .send-time {
          color: var(--text-placeholder, lightgray);
        }
      }

      .content {
        color: var(--text-primary, white);
      }

      &:not(:only-child):not(:last-child):not(:nth-last-child(2)) {
        border-bottom: var(--message-seperator, 1px solid #ffffff27);
      }

      &:last-child:not(:only-child):not(:first-child) {
        border-top: var(--message-seperator, 1px solid #ffffff27);
      }

      &:hover {
        background: var(--message-hover-background, #ffffff80);
      }
      /* Looks weird right now, will revisit later
      &.child-message {
        padding-top: 0;

        .meta {
          display: none;
        }
      } */
    }
  }
}

.message-form {
  position: fixed;
  bottom: var(--page-padding);
  display: flex;
  flex-direction: row;
  width: calc(var(--max-width) - var(--nav-width) - (var(--page-padding) * 2));
  height: var(--message-form-height);

  *:first-child {
    border-radius: 12px 0 0 12px;
  }

  *:last-child {
    border-radius: 0 12px 12px 0;
  }

  input, button[type="submit"] {
    border: var(--border-separator, 1px solid #ccc);
    font-size: 16px;
    border: none;
    transition: var(--transition-common, all 0.15s ease);
  }

  button[type="submit"] {
    background-color: var(--button-background, #4CAF50);
    color: white;
    cursor: pointer;
    padding: 0 12px 0 12px;

    &:hover {
      background-color: var(--button-hover-background, #45a049);
    }
  }

  input[type="text"] {
    border-right: var(--border-separator, 1px solid #ccc);
    flex-grow: 1;
  }
}