@import url('global.css');

:root {
    --lower-content-height: 60px;
}

ul {
    margin: 0;
    padding: 0;
}

.container {
    width: 100vw;
    height: 100vh;
}

.sidebar-container {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
    background-color: var(--secondary-color);
    border-right: var(--border-seperator);
    padding: var(--container-inner-padding);
    height: 100vh;
    width: 300px;

    .conversations {
        flex-grow: 1;
        width: 100%;
        overflow-y: auto;

        .conversation-item {
            display: flex;
            flex-direction: row;
            gap: 6px;
            cursor: pointer;

            &:hover,
            &:focus {
                background-color: var(--primary-color);
            }
        }
    }

    .account {
        height: var(--lower-content-height);
    }
}

.content-container {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    padding: var(--container-inner-padding);
    width: calc(100vw - 300px);
    height: calc(100vh - var(--lower-content-height));

    .messages {
        display: flex;
        flex-direction: column;
        align-content: flex-end;
        flex-grow: 1;
        gap: 6px;

        .message {
            display: flex;
            flex-direction: row;
            gap: 4px;

            .message-sender {
                width: 38.5px;
                height: 38.5px;
                flex-shrink: 0;
            }

            .message-details {
                display: flex;
                flex-direction: column;

                .message-info {
                    color: var(--text-secondary-color);

                    .sender {
                        color: var(--text-primary-color);
                    }
                }
            }
        }
    }
}

.input-container {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: var(--container-inner-padding);
    width: calc(100vw - 300px);
    height: var(--lower-content-height);
    border-top: var(--border-seperator);
    background: var(--secondary-color);
    
    .form {
        display: flex;
        flex-direction: row;
        gap: 4px;
        height: 100%;
        width: 100%;

        .message-input {
            flex-grow: 1;
        }
    }
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-content: center;
    justify-content: center;
    background-color: #0000007e;
    width: 100vw;
    height: 100vh;
    
    &.show {
        display: flex;
    }
}

.modal-content {
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: var(--container-inner-padding);
    background: var(--secondary-color);
    border: var(--border-seperator);
    border-radius: 12px;
    width: 260px;
    height: 300px;
    max-height: 90vh;
    max-width: 95vw;

    .modal-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 12px;

        h3 {
            margin: 0;
            height: min-content;
            align-self: center;
        }
    }

    .modal-body {
        display: flex;
        flex-direction: column;
        gap: 6px;

        .search-results {
            .search-result-item {
                background-color: transparent;
                cursor: pointer;
                transition: 0.2s ease;

                &:hover {
                    background-color: var(--primary-color);
                }
            }
        }
    }
}

