@import url(global.css);

:root {
  --message-form-height: 40px;
}

body {
  display: flex;
  flex-direction: row;
}

main {
  display: inline-flex;
  flex-direction: row;
  flex-grow: 1;
  flex-wrap: nowrap;
  width: calc(var(--max-width) - var(--nav-width));
}

.chat-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  .messages-container {
    height: calc(100vh - var(--message-form-height) - var(--page-padding));
    overflow-y: auto;

    .message {
      background: transparent;
      transition: background 0.15s;
      padding: 4px 12px 4px 12px;
      border-radius: 12px;

      .meta {
        color: black;

        .send-time {
          color: gray;
        }
      }

      .content {
        color: black;
      }

      &:hover {
        background: #e9e9e9;
      }
      /* Looks weird right now, will revisit later
      &.child-message {
        padding-top: 0;

        .meta {
          display: none;
        }
      } */
    }
  }
}

.message-form {
  position: fixed;
  bottom: var(--page-padding);
  display: flex;
  flex-direction: row;
  width: var(--max-width);
  height: var(--message-form-height);

  *:first-child {
    border-radius: 12px 0 0 12px;
  }

  *:last-child {
    border-radius: 0 12px 12px 0;
  }

  input, button[type="submit"] {
    border: 1px solid #ccc;
    font-size: 16px;
    outline: none;
  }

  button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
  }

  input[type="text"] {
    flex-grow: 1;
    padding: 6px;
  }
}