@import url('global.css');

@keyframes notificationAppear {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes notificationDisappear {
    from {
        transform: translateX(0);
        opacity: 1;
    }

    to {
        transform: translateX(100%);
        opacity: 0;
    }
}

:root {
    --lower-content-height: 60px;
    --sidebar-width: 250px;
    --member-list-width: 210px;
}

main.no-active-conversation {
    .content-container,
    .input-container {
        display: none;
    }

    .no-active-conversation-container {
        display: block;
    }
}

main:not(.no-active-conversation).member-list-toggled {
    .content-container {
        width: calc(100vw - var(--sidebar-width) - var(--member-list-width));
        right: var(--member-list-width);
    }

    .input-container {
        width: calc(100vw - var(--sidebar-width) - var(--member-list-width));
        right: var(--member-list-width);
    }

    .member-list-container {
        display: block;
    }
}

ul {
    margin: 0;
    padding: 0;
}

.container {
    width: 100vw;
    height: 100vh;
}

.sidebar {
    .header,
    .header-mobile h2 {
        margin: 0;
    }

    .header {
        padding: 3px 0 4px 0; /* To match with content-container */
    }
    
    .header-mobile {
        display: none;
    }
}

.sidebar-container {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: var(--item-gap-medium);
    background-color: var(--nav-background-color);
    border-right: var(--border-seperator);
    padding: var(--container-inner-padding);
    height: 100vh;
    width: var(--sidebar-width);

    .header-mobile .logo {
        max-width: 90%;
        object-fit: contain;
        object-position: bottom;
    }

    .conversations {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        width: 100%;
        gap: var(--item-gap-medium);
        overflow-y: auto;

        .conversation-item {
            display: flex;
            flex-direction: row;
            gap: var(--item-gap-medium);
            cursor: pointer;
            border-radius: 6px;
            background: transparent;
            color: inherit;
            text-align: left;
            font-size: inherit;
            border: none;
            transition: 0.2s ease;

            &:hover,
            &:focus,
            &.active {
                background-color: var(--message-hover-background);
            }

            .conversation-details {
                flex: 1;
                width: 70%;

                .conversation-name {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }

                .conversation-preview {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }
        }
    }

    .account {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: var(--item-gap-medium);
        height: calc(var(--lower-content-height) - (var(--container-inner-padding) * 2));

        p {
            margin: 0;
            text-overflow: ellipsis;
            overflow: hidden;
            max-width: 140px;
            text-wrap: nowrap;
        }
    }
}

.content-container {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    width: calc(100vw - var(--sidebar-width));
    height: calc(100vh - var(--lower-content-height));

    .conversation-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: var(--item-gap-large);
        padding: var(--container-inner-padding);
        background-color: var(--nav-background-color);
        border-bottom: var(--border-seperator);

        .return-button {
            display: none;
        }

        h2 {
            margin: 0;
            width: auto;
            height: min-content;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .buttons {
            display: flex;
            gap: var(--item-gap-medium);

            .icon-button {
                width: 36px;
            }
        }
    }

    .messages {
        display: flex;
        flex-direction: column;
        align-content: flex-end;
        flex-grow: 1;
        gap: var(--item-gap-medium);
        padding: var(--container-inner-padding);
        overflow: hidden auto;

        .message {
            position: relative;
            display: flex;
            flex-direction: row;
            gap: var(--item-gap-medium);
            word-break: break-all;
            white-space: pre-wrap;
            transition: 0.15s ease background-color;

            .message-sender {
                width: 38.5px;
                height: 38.5px;
                flex-shrink: 0;
                text-wrap: nowrap;
            }

            .message-details {
                display: flex;
                flex-direction: column;

                .message-info {
                    color: var(--text-color-secondary);

                    .sender {
                        color: var(--text-color-primary);
                    }
                }
            }

            .message-actions {
                position: absolute;
                top: 0;
                right: 0;
                display: flex;
                flex-direction: row;
                gap: var(--item-gap-medium);
                opacity: 0;
                transition: 0.15s ease opacity;
            }

            &:hover {
                background-color: var(--message-hover-background);

                .message-actions {
                    opacity: 1;
                }
            }
        }
    }

    .typing-indicator {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: var(--nav-background-color);
        border-top: var(--border-seperator);
        margin: 0;
        padding: var(--item-padding-small);
        color: var(--text-color-secondary);
        font-style: italic;
        visibility: hidden;

        &.visible {
            visibility: visible;
        }
    }
}

.input-container {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: var(--container-inner-padding);
    width: calc(100vw - var(--sidebar-width));
    height: var(--lower-content-height);
    border-top: var(--border-seperator);
    background: var(--nav-background-color);
    
    .form {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        gap: var(--item-gap-small);
        height: 100%;
        width: 100%;

        .message-input {
            flex-grow: 1;
            resize: none;
            height: 100%;
            max-height: 400%;
            margin: 0;
            padding: 7.5px;
            min-width: 0;

            &:not(:focus) {
                max-height: 100%;
            }
        }

        .message-send {
            height: 100%;
        }
    }
}

.member-list-container {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    padding: var(--container-inner-padding);
    width: var(--member-list-width);
    height: 100vh;
    border-left: var(--border-seperator);
    background: var(--nav-background-color);
}

.no-active-conversation-container {
    display: none;
    position: absolute;
    top: 50%;
    right: 0;
    width: calc(100% - var(--sidebar-width));
    padding: var(--container-inner-padding);
    text-align: center;
    gap: var(--item-gap-medium);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transform: translateY(-50%);

    h2,
    p {
        margin: 0;
    }
}

.notifications {
    position: fixed;
    top: var(--container-inner-padding);
    right: var(--container-inner-padding);
    z-index: 4;
    display: flex;
    flex-direction: column;
    gap: var(--item-gap-large);
}

.notification {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: var(--item-gap-medium);
    text-align: left;
    background: var(--background-color-secondary);
    padding: var(--container-inner-padding);
    border-radius: var(--container-inner-padding);
    min-width: 200px;
    max-width: 400px;
    box-shadow: 0 0 4px 2px #00000046;
    
    &:has(.details) .header {
        font-weight: bold;
    }
    
    &:not(.hide) {
        animation: notificationAppear 0.5s ease;
    }

    &.hide {
        animation: notificationDisappear 0.5s ease;
    }

    p {
        margin: 0;
    }
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    display: none;
    align-content: center;
    justify-content: center;
    background: none;
    backdrop-filter: blur(4px) brightness(0.75);
    -webkit-backdrop-filter: blur(4px) brightness(0.75);
    width: 100vw;
    height: 100vh;
    color: inherit;
    border: none;
    
    &.show {
        display: flex;
    }
}

.modal-content {
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: var(--item-gap-medium);
    padding: var(--container-inner-padding);
    background: var(--background-color-secondary);
    border: var(--border-seperator);
    border-radius: 12px;
    width: 260px;
    height: 300px;
    max-height: 90vh;
    max-width: 95vw;

    .modal-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: var(--item-gap-large);

        h3 {
            margin: 0;
            height: min-content;
            align-self: center;
        }
    }

    .modal-body {
        display: flex;
        flex-direction: column;
        gap: var(--item-gap-medium);
        height: 100%;

        .search-results {
            flex-grow: 1;

            .search-result-item {
                user-select: none;
                background-color: transparent;
                cursor: pointer;
                transition: 0.2s ease;

                .select-user {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: var(--item-padding-medium);
                    pointer-events: none;

                    input[type='checkbox'] {
                        margin: 0;
                    }
                }

                &:hover {
                    background-color: var(--message-hover-background);
                }
            }
        }
    }
}

@media (max-width: 900px) {
    .content-container,
    .input-container {
        width: calc(100vw - var(--sidebar-width)) !important;
        right: 0 !important;
    }

    :root {
        --member-list-width: 100%;
    }

    .member-list-container {
        z-index: 2;
        backdrop-filter: blur(24px) brightness(0.5);
        -webkit-backdrop-filter: blur(24px) brightness(0.5);

        .header {
            display: none;
        }

        .header-mobile {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
}

@media (max-width: 650px) {
    :root {
        --sidebar-width: 100%;
    }

    main.active-conversation .sidebar-container {
        display: none !important;
    }

    main:not(.active-conversation) {
        .content-container,
        .input-container {
            display: none !important;
        }
    }

    .content-container,
    .input-container {
        width: 100vw !important;
        right: 0 !important;
    }

    .content-container .conversation-header .return-button {
        display: flex !important;
    }

    .no-active-conversation-container {
        display: none !important;
    }
}