@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('./themes/Mercury.css');

/* :root {
    --primary-color: #575788;
    --secondary-color: #474368;
    --tertiary-color: #929ab4;

    --red-color: #e04c4c;
    --blue-color: #6eceeb;

    --border-seperator: 2px solid #585858;

    --background-primary-color: #030324;
    --background-secondary-color: #080828;
    --background-tertiary-color: #282941;

    --text-primary-color: #eee;
    --text-secondary-color: #aaa;

    --font-header: 'Inter', sans-serif;
    --font-body: var(--font-header);

    --container-inner-padding: 12px;

    --item-padding-small: 4px;
    --item-padding-medium: 8px;

    --item-gap-small: 4px;
    --item-gap-medium: 6px;
    --item-gap-large: 12px;
} */

html,
body {
    font-family: var(--text-font-family);
    background-color: var(--background-color);
    background-image: var(--background-image);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: var(--text-color-primary);
    margin: 0;
}

* {
    box-sizing: border-box;
    font-family: inherit;
}

hr {
    width: 100%;
}

.material-symbols-rounded {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.user-tile {
    display: flex;
    flex-direction: row;
    gap: var(--item-gap-large);
    padding: var(--item-padding-small);
    font-size: 16px;
    height: 44px;
    border-radius: var(--element-border-radius);
    outline: transparent;
    transition: var(--transition-common);

    .user-avatar {
        flex-shrink: 0;
    }

    .user-info {
        flex-grow: 1;
        height: min-content;
        align-self: center;
        overflow: hidden;
        text-overflow: ellipsis;

        .username {
            text-wrap: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    &:hover {
        background-color: var(--button-hover-background);
        outline: var(--outline-select);
    }
}

.user-avatar {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--item-padding-medium);
    border-radius: 50%;
    width: 36px;
    user-select: none;
    text-shadow: 0 0 4px #00000050;
    
    .status-dot {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: #585858;
        box-shadow: 0 0 4px #00000090;

        &.online {
            background-color: #77bb67;
        }
    }
}

.text-input {
    padding: var(--item-padding-small);
    border-radius: var(--element-border-radius);
    background-color: var(--text-input-background);
    outline: transparent;
    color: inherit;
    font-size: 16px;
    border: none;
    transition: 0.15s ease;

    &:focus {
        background-color: var(--text-input-background);
        outline: var(--outline-select);
    }
}

.text-button {
    padding: var(--item-padding-small);
    border-radius: var(--element-border-radius);
    background-color: var(--button-background);
    color: inherit;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: 0.15s ease;

    &:hover,
    &:focus {
        background-color: var(--button-hover-background);
    }
}

.icon-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--item-padding-small);
    border-radius: 50%;
    aspect-ratio: 1/1;
    border: none;
    font-size: 16px;
    color: var(--text-secondary-color);
    cursor: pointer;
    background-color: transparent;
    transition: 0.2s ease;

    &:hover,
    &:focus {
        background-color: var(--button-hover-background);
        color: var(--text-primary-color);
        .material-symbols-rounded {
            font-variation-settings: 'FILL' 1;
        }
    }
}

.close-button {
    padding: var(--item-padding-small);
    border-radius: 50%;
    aspect-ratio: 1/1;
    border: none;
    font-size: 16px;
    color: var(--text-color-secondary);
    cursor: pointer;
    background-color: transparent;
    transition: 0.2s ease;

    &:hover,
    &:focus {
        background-color: var(--button-hover-background);
        color: var(--text-color-primary);
    }
}