/* Temporary theme import before the system is in-place */
@import url('./themes/Abyss.css');

:root {
  --nav-width: 220px;

  --max-width: calc(100vw - (var(--page-padding) * 2));
  --max-height: calc(100vh - (var(--page-padding) * 2));
}

html,
body {
  font-family: var(--text-font-family, Arial, sans-serif);
  font-size: var(--text-size, 16px);
  margin: 0;
  padding: 0;
  background-color: var(--background-color, #141414);
  background: var(--background, #141414);
  color: var(--text-primary, #ffffff);
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}

* {
  font-family: inherit;
}

/* Scrollbar */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-thumb, #888) var(--scrollbar-background, #f1f1f1);
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: var(--scrollbar-background, #f1f1f1);
}

/* Default element styles */
button {
  background-color: var(--button-background, #4CAF50);
  border: none;
  color: white;
  padding: 10px 12px 10px 12px;
  font-size: 16px;
  cursor: pointer;
  border-radius: var(--border-radius, 4px);
  transition: var(--transition-common, all 0.15s ease);
  outline: var(--outline-select, 1px solid #ccc);
  outline-color: transparent;

  &:hover {
    background-color: var(--button-hover-background, #45a049);
  }

  &:hover, &:focus {
    outline-color: var(--outline-select-color, #ffffff20);
  }
}

input[type="text"], input[type="password"], textarea {
  width: 100%;
  padding: var(--text-input-padding, 6px 12px 6px 12px);
  box-sizing: border-box;
  border: var(--border-separator, 1px solid #ccc);
  border-radius: var(--border-radius, 4px);
  font-size: 16px;
  background-color: var(--text-input-background, #f1f1f1);
  color: var(--text-primary, #000);
  outline: var(--outline-select, 1px solid #ccc);
  outline-color: transparent;

  &::placeholder {
    color: var(--text-placeholder, #888);
  }

  &:focus, &:active {
    outline-color: var(--outline-select-color, #ffffff20);
  }
}

a {
  color: var(--text-link, #1a73e8);
  text-decoration: underline transparent;
  transition: var(--transition-common, all 0.15s ease);

  &:hover {
    text-decoration-color: var(--text-link, #1a73e8);
  }
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--nav-background-color, #353535);
  color: white;
  padding: 10px;
  text-align: center;
  width: var(--nav-width);
  height: var(--max-height);
  border-right: var(--border-separator, 1px solid #ffffffb0);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  .logo {
    max-width: 100%;
    height: 55px; /* Manually set size to avoid content shifts */
    object-fit: cover;
  }

  .channels {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    width: 100%;
    gap: 8px;
    flex-grow: 1;
    padding: 12px 0;
    align-items: center;

    button {
      width: 100%;
    }
  }

  .user-info {
    display: flex;
    width: calc(100% - (6px * 2));
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-secondary, #2c2f33);
    padding: 6px;
    border-radius: var(--border-radius, 12px);
  }
}

main {
  padding: var(--page-padding);
  width: calc(100vw - (12px * 2));
}