@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --primary-color: #2c2c4e;
    --secondary-color: #1e1c2e;

    --border-seperator: 2px solid #585858;

    --background-primary-color: #030324;
    --background-secondary-color: #080828;

    --text-primary-color: #eee;
    --text-secondary-color: #aaa;

    --font-header: 'Inter', sans-serif;
    --font-body: var(--font-header);

    --container-inner-padding: 12px;
}

html,
body {
    font-family: var(--font-body);
    background-color: var(--background-primary-color);
    color: var(--text-primary-color);
    margin: 0;
}

* {
    box-sizing: border-box;
    font-family: inherit;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-header);
}

.user-tile {
    display: flex;
    flex-direction: row;
    gap: 12px;
    padding: 4px;
    font-size: 16px;
    height: 42px;

    .user-info {
        flex-grow: 1;
        height: min-content;
        align-self: center;
    }
}

.user-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border-radius: 50%;
    width: 34px;
    user-select: none;
    text-shadow: 0 0 2px #00000023;
    
    .status-dot {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: #585858;

        &.online {
            background-color: #77bb67;
        }
    }
}

.text-input {
    padding: 4px;
    border-radius: 6px;
    background-color: var(--background-primary-color);
    color: var(--text-primary-color);
    font-size: 15px;
    border: none;
    transition: 0.2s ease;

    &:focus {
        background-color: var(--secondary-color);
    }
}

.close-button {
    padding: 4px;
    border-radius: 50%;
    aspect-ratio: 1/1;
    border: none;
    font-size: 16px;
    color: var(--text-secondary-color);
    cursor: pointer;
    background-color: transparent;
    transition: 0.2s ease;

    &:hover,
    &:focus {
        background-color: var(--primary-color);
        color: var(--text-primary-color);
    }
}