:root {
  --page-padding: 12px;
  --nav-width: 150px;

  --max-width: calc(100vw - (var(--page-padding) * 2));
  --max-height: calc(100vh - (var(--page-padding) * 2));
}

html,
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}

nav {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  text-align: center;
  width: var(--nav-width);
  height: var(--max-height);
  border-bottom: 2px solid #45a049;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

main {
  padding: 12px;
  width: calc(100vw - (12px * 2));
}