@import url(global.css);

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .logo {
    max-width: 100%;
    height: 80px; /* Manually set size to avoid content shifts */
    object-fit: cover;
  }

  .error {
    color: var(--text-error, red);
    text-align: center;
    margin-bottom: 10px;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 300px;

    h2 {
      text-align: center;
      margin-bottom: 20px;
    }

    button {
      margin-top: 10px;
    }
  }
}