@keyframes messageAdd {
    0% {
      opacity: 0;
      transform: translateX(-10%);
    }

    100% {
      opacity: 1;
      transform: translateX(0%);
    }
  }

  @keyframes notificationAdd {
    0% {
      opacity: 0;
      transform: translateX(100%);
    }

    10% {
      opacity: 1;
      transform: translateX(0%);
    }

    90% {
      opacity: 1;
      transform: translateX(0%);
    }

    100% {
      opacity: 0;
      transform: translateX(100%);
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
/*
  Color 1 = Button hover highlight
  Color 2 = chat background, bottom bar bg
  Color 3 = prompt button backgrounds, side bar bg, message hover color
  Color 4 = Text box buttons, prompt bgs

  color1trans = 
  color2trans = 
  color3trans = reported notif border
  color4trans = reported notif bg

  textcolor1 = main, prompt, sidebar, bottom bar, icons
  textcolor2 = report button hover, 
  textcolor3 = 
  textcolor4 = secondary, time, report

*/
  :root {
    --color1: rgb(0, 0, 0, 0.163);
    --color2: rgb(0, 15, 51);
    --color3: rgb(12, 46, 90);
    --color4: rgb(4, 49, 98);

    --color1trans: rgb(255, 0, 0, 0.6);
    --color2trans: rgb(0, 255, 98, 0.6);
    --color3trans: rgb(5, 33, 51, 0.6);
    --color4trans: rgb(11, 60, 91, 0.6);

    --textcolor1: rgb(255, 255, 255);
    --textcolor2: rgb(124, 165, 203);
    --textcolor3: rgb(17, 0, 255, 0.719);
    --textcolor4: rgb(184, 205, 255, 0.5);

    --linktextcolor1: rgb(90, 214, 222);
    --linktextcolor2: rgb(80, 183, 191);

    --borderradius1: 7px;
  }

  * {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    color: var(--textcolor1);
  }

  body {
    margin: 0;
    padding-bottom: 3rem;
    width: 100vw;
    overflow-x: hidden;
    background: var(--color2);
  }

  #notifications {
    position: fixed;
    top: 15px;
    right: 15px;
    background: none;
    z-index: 6;

    div#notification {
      animation: notificationAdd 2.5s ease;
      width: 400px;
      height: 80px;
      max-width: 90vw;
      max-height: 40vh;
      background: var(--color4trans);
      backdrop-filter: blur(8px);
      -webkit-backdrop-filter: blur(8px);
      border-radius: 7px;
      border: 3px solid var(--color3trans);

      p#heading {
        font-weight: bold;
        width: 90%;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
      }

      p#mainText {
        width: 90%;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  #chatOverlay {
    z-index: 4;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: brightness(70%) blur(8px);
    -webkit-backdrop-filter: brightness(70%) blur(8px);
  }

  #sidebar {
    width: 20vw;
    height: calc(100vh - 3.25rem - 0.25rem);
    position: fixed;
    top: 0;
    left: 0;
    background: var(--color3);
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 2;

    #onlineCount {
      text-align: center;
    }

    div#activeUsers {
      overflow-wrap: break-word;
      width: 100%;
      
      div#user {
        width: 100%;
        height: 50px;
        padding-top: 10px;
        padding-bottom: 10px;
        overflow: hidden;
        transition: 0.2s ease;

        p#username {
          display: inline;
          height: 100%;
          margin-left: 10px;
          position: relative;
          bottom: 50%;
          transform: translateY(-50%);
        }

        img#avatar {
          object-fit: contain;
          display: inline;
          height: 50px;
          width: 50px;
          overflow: hidden;
          margin-left: 5px;
          border-radius: 50%;
          background: var(--color3);
        }

        button#DMbutton {
          float: right;
          position: relative;
          right: 10px;
          background: rgba(0, 0, 0, 0);
          border-radius: 7px;
          cursor: pointer;
          transition: 0.2s ease;
          border: none;
          top: 50%;
          transform: translateY(-50%);
          height: 40px;
          width: 40px;
          padding: 5px;
        }

        button#DMbutton:hover {
          background: var(--color3);
        }

        button#DMbutton span {
          transform: translate(-50%, -50%);
          position: relative;
          margin-top: 65%;
          margin-left: 50%;
          height: 30px;
        }
      }

      div#user:hover {
        background: var(--color4);
      }
    } 

    button#profileDialogButton {
      width: 90%;
      position: absolute;
      bottom: 15px;
      left: 50%;
      transform: translateX(-50%);
      background: var(--color2);
      font-size: 20px;
      border-radius: 4vh;
      padding: 12px;
      border: none;
      cursor: pointer;
      transition: 0.2s ease;
    }

    button#profileDialogButton:hover {
      background: var(--color1);
    }

    button#mainChatButton {
      width: 90%;
      position: relative;
      top: 15px;
      left: 50%;
      margin-bottom: 15px;
      transform: translateX(-50%);
      background: var(--color2);
      font-size: 20px;
      border-radius: 8px;
      padding: 12px;
      border: none;
      cursor: pointer;
      transition: 0.2s ease;
    }

    button#mainChatButton:hover {
      background: var(--color1);
    }
  }

  #form {
    background: rgba(0, 0, 0, 0.15);
    padding: 0.25rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    height: 3.5rem;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
    z-index: 2;
  }

  #form input#input {
    border: none;
    padding: 0 1rem;
    flex-grow: 1;
    border-radius: 2rem;
    margin: 0.25rem;
    background: var(--color4);
    font-size: 16px;
  }

  #form input#input:focus {
    outline: none;
  }

  #form button,
  #form p {
    background: var(--color4);
    border: none;
    padding: 0 1rem;
    margin: 0.25rem;
    border-radius: 12vh;
    outline: none;
    color: var(--textcolor1);
    cursor: pointer;
    transition: 0.2s ease;
  }

  #form button:hover,
  #form p:hover {
    background: var(--color3);
  }

  #form p span {
    transform: translate(-50%, -50%);
    position: relative;
    top: 50%;
    left: 50%;
  }

  #messages, .DM {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 80vw;
    margin-left: auto;
    border-radius: var(--borderradius1);

    img.chatMessageImage {
      max-width: 80vw;
      max-height: 40vh;
      min-width: 100px;
      min-height: 100px;
      border-radius: 2vh;
      cursor: pointer;
      transition: 0.1s ease;
      display: block;
    }

    img.chatMessageImage:hover {
      filter: brightness(90%);
    }

    li { /* Message */
      padding: 0.5rem 1rem;
      overflow-wrap: break-word;
      background: var(--color1);
      animation: messageAdd 0.35s ease;
      transition: 0.2s ease;

      .username {
        font-weight: bold;
        margin-bottom: -5px;
        margin-top: 0;
        display: inline-block;
      }
      
      .sendTime {
        color: var(--textcolor4);
        display: inline-flex;
        font-weight: normal;
        margin-left: 5px;
        transition: 0.2s ease;
        display: inline-block;
      }

      .reportButton {
        display: inline-block;
        margin-left: 6px;
        border-radius: 18px;
        background: transparent;
        color: var(--textcolor4);
        border: none;
        padding: 4px;
        transition: 0.2s ease background;
        cursor: pointer;
        opacity: .5;
      }

      .reportButton:hover {
        color: var(--textcolor2);
        background: var(--color4);
        opacity: 1;
      }
      
      img.avatar {
        width: 50px;
        height: 50px;
        object-fit: contain;
        float: left;
        margin-top: 15px;
        margin-right: 10px;
        border-radius: 50%;
      }

      p.text {
        margin-top: 0;
        font-weight: normal;

        a {
          color: var(--linktextcolor1);
          transition: 0.2s ease;
        }

        a:hover {
          color: var(--linktextcolor2);
        }
      }
    }

    li.message:hover {
      background: var(--color3);

      p#username p#sendTime {
        color: var(--textcolor3);
      }
    }
  }

  div#uploadDialog {
    background: var(--color4);
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 3vh;
    text-align: center;
    width: 500px;
    height: 500px;
    max-width: 90vw;
    max-height: 90vh;
    z-index: 5;

    button#closeButton {
      float: right;
      position: absolute;
    }

    button#submitImageButton {
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 4vh;
      background: var(--color3);
      width: 85%;
      padding: 12px;
      border: none;
      font-size: 20px;
      font-weight: bold;
      cursor: pointer;
      transition: 0.2s ease;
    }

    button#submitImageButton:hover {
      background: var(--color1);
    }

    img#imagePreview {
      height: 55%;
      max-width: 90%;
      object-fit: contain;
      margin-left: auto;
      margin-right: auto;
      padding: 10px;
      border-radius: 2vh;
    }

    input::file-selector-button {
      color: var(--textcolor1);
      padding: 12px;
      background: var(--color1);
      border: none;
      border-radius: 4vh;
      width: 59%;
      cursor: pointer;
      transition: 0.2s ease;
    }

    input::file-selector-button:hover {
      background-color: var(--color2);
    }
  }

  div#profileDialog {
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--color4);
    border-radius: 3vh;
    width: 500px;
    height: 380px;
    max-width: 100vw;
    max-height: 100vh;
    z-index: 5;
    overflow: hidden;

    button#profileCloseButton {
      background: var(--color4);
      border: none;
      padding: 12px;
      font-weight: bold;
      position: absolute;
      right: 7px;
      top: 7px;
      font-size: 18px;
      border-radius: 50%;
      cursor: pointer;
      transition: 0.2s ease;
      aspect-ratio: 1/1;
    }

    button#profileCloseButton:hover {
      background: var(--color2);
    }

    img#avatarIcon {
      height: 50px;
      aspect-ratio: 1;
      margin-left: 10px;
      border-radius: 50%;
    }

    input::file-selector-button {
      color: var(--textcolor1);
      padding: 12px;
      background: var(--color3);
      border: none;
      border-radius: 4vh;
      width: 50%;
      cursor: pointer;
      transition: 0.2s ease;
    }

    input::file-selector-button:hover {
      background-color: var(--color1);
    }

    input[type="text"] {
      border-radius: 4vh;
      width: 90%;
      padding: 12px;
      background: var(--color3);
      margin-left: 50%;
      transform: translateX(-50%);
      border: none;
      text-align: center;
      font-size: 16px;
    }

    button#profileSaveButton {
      width: 95%;
      padding: 12px;
      background: var(--color3);
      font-size: 20px;
      font-weight: bold;
      border-radius: 4vh;
      position: absolute;
      bottom: 15px;
      left: 50%;
      transform: translateX(-50%);
      border: none;
      cursor: pointer;
      transition: 0.2s ease;
    }

    button#profileSaveButton:hover {
      background: var(--color1);
    }
  }

  div#profileDialog.hidden {
    display: none;
  }

  div#enlargedImage {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;

    img {
      max-width: 90vw;
      max-height: 90vh;
      min-height: 20vh;
      min-width: 20vw;
      object-fit: contain;
      border-radius: 4px;
    }
  }

  @media (max-width: 1000px) {
    #messages, .DM {
      width: calc(100vw - 5%);
      margin-left: 0;
      transform: translateX(5%);
    }
    #sidebar {
      transform: translateX(-95%);
      width: 85vw;
      transition: 0.3s ease;
      z-index: 2;
    }
    #sidebar:hover {
      transform: translateX(0);
    }
  }