/* 
  Abyss theme officially made for ButterDog Chat Ultra Deluxe
  > Created by Keegan
  > A dark theme with thin, white outlines, and deep blue to purple gradients
*/

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --background-color: #0b0c10;
  --background: linear-gradient(135deg, #231f33 0%, #0f1118 100%);
  --background-secondary: #1f2833;
  
  --nav-background-color: rgba(20, 20, 20, 0.2);

  --page-padding: 12px;

  --text-primary: #ffffff;
  --text-secondary: #c5c6c7;
  --text-placeholder: #6c757d;
  --text-link: #66b8fc;
  --text-size: 16px;
  --text-font-family: 'Inter', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  
  --text-input-background: #1f2833;
  --text-input-padding: 4px 12px 4px 12px;
  --button-background: #443579;
  --button-hover-background: #35285a;

  --border-radius: 12px;

  --outline-select-color: #ffffff48;
  --outline-select: 1px solid #ffffff48;
  --border-seperator-color: #ffffff27;
  --border-separator: 1px solid #ffffff27;

  /* Scrollbar */
  --scrollbar-background: #1f2833;
  --scrollbar-thumb: #444c56;

  /* Messages */
  --message-border-radius: 0;
  --message-seperator: var(--border-separator, 1px solid #ffffff27);
  --message-padding: 8px 12px 8px 12px;
  --message-background: transparent;
  --message-text-margin: 4px 0 4px 0;
  --message-hover-background: #22283b;

  --transition-common: all 0.15s ease;
}